@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  background-color: rgb(47, 134, 211);
  color: white;
  border: none;
}
a.active:hover {
  background-color: rgb(8, 88, 158);
  border: none;
}
a:hover {
  background-color: rgb(205, 205, 205);
  border: none;
}

.swiper-button-prev {
  color: red;
}

.swiper-button-next {
  color: #000;
}
